div.btn-group {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.btn-group .btn {
  width: 25%;
  padding: 5px;
  background-color: #141414;
  border-right: 1px solid #282828;
  border-left: 1px solid #000000;
  color: #777777;
  font-weight: bold;
  margin: 0px;
  border-radius: 5px 5px 0px 0px !important;
}

body {
  max-width: 750px;
  margin: 0 auto;
}

#logs, #tasks, #score, #profile{
  background-color: #eee !important;
  font-family: Cambria, Georgia, serif;
}

.container-fluid {
  padding: 0px;
  margin: 0px;
}

.btn i {
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
}

.active {
  background-color: #eee !important;
  border: none !important;
  color: #333 !important;
  box-shadow: 0px 2px !important;
}

.router-layout-space {
  margin-bottom: 62px;
}
